/* Chin Ray wrote this CSS file */

.container {
    display: flex;
    flex-direction: row;
    min-width: 580px;
    max-width: 580px;
}

.checkbox {
    width: 25px;
    height: 25px;
}

.centrediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}

.rightalign {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
    margin-left: 40px;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    align-self: center;
}

.image-small {
    width: 90px;
    height: 90px;
    border-radius: 10%;
    align-self: center;
}

.interestname {
    font-size: 1.75rem;
    font-weight: bold;
}

.description {
    font-size: 1.25rem;
}