/* Chin Ray wrote this CSS file */

.blank-space {
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

.checkbox {
    width: 25px;
    height: 25px;
}

.centrediv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}

.image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    align-self: center;
}

.interestname {
    font-size: 1.75rem;
    font-weight: bold;
}

.description {
    font-size: 1.25rem;
}